.menu-body {
    padding: 2rem;
    text-align: center;
}

.menu__item {
    transition: 0.2s;
}

.menu__item:hover {
    color: #000;
    transition: 0.2s;
}

.menu-links {
    padding: 2rem 0;
}

@media only screen and (max-width: 400px) {
    .menu-body {
        width: 100%;
    }

    .menu__item {
        font-size: 4rem;
        color: #000;
        text-align: center;
    }

    .menu-links {
        padding-bottom: 3rem;
    }
}
